server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name {{ item.value.domain }};

    root /var/www/{{ item.value.domain }};
    index index.html;
    try_files $uri /index.html;
}
